{% extends 'base/base.html' %}
{% block page_content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if not obj %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Aun no hay veterinarias registradas</strong>
                    </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Lista de Veterinarias</h5>
                        </div>
                        <div class="card-body">
                            <table id="scroll-vertical" class="table table-bordered dt-responsive nowrap align-middle mdl-data-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>RFC</th>
                                        <th>Nombre</th>
                                        <th>Contacto</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in obj %}
                                    <tr>
                                        <td>{{ item.rfc }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.contacto }}</td>
                                        <td>{{ item.direccion }}</td>
                                        <td>{{ item.telefono }}</td>
                                        <td>
                                            <div class="dropdown d-inline-block">
                                                <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-fill align-middle"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="{% url 'veterinaria:detail' veterinaria.nombre %}" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>Ver Detalles</a></li>
                                                    <li><a href="#" class="dropdown-item edit-item-btn"><i class=" ri-edit-box-fill align-bottom me-2 text-muted"></i>Agendar un cita</a></li>
                                                    <li>
                                                        <a href="#" class="dropdown-item remove-item-btn">
                                                            <i class=" ri-mail-unread-line align-bottom me-2 text-muted"></i> Eviar Mensaje
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </div>
</div>
{%  endblock  %}